.dotted {
    background-image: radial-gradient(#838383 10%, transparent 10%),
          radial-gradient(#838383 10%, transparent 10%);
    background-color: #fff;
    background-position: 0 0, 10px 10px;
    background-size: 10px 10px;
}

p {
    user-select: none;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    user-select: none;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    user-select: none;
    font-family: 'Varela Round', sans-serif;
}

h3 {
    user-select: none;
    font-family: 'Varela Round', sans-serif;
}

h5 {
    user-select: none;
    font-family: 'Varela Round', sans-serif;
}

h6 {
    user-select: none;
    
}

.error {
    color: #e93e20;
    user-select: none;
    margin-top: 5px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.pfp-thumb {
    object-fit: cover;
    width: 230px;
    height: 230px;
}

@media only screen and (max-width: 400px) {
    .info-card {
        width: 14rem;
        height: 16rem;
    }
}

@media only screen and (min-width: 401px) {
    .info-card {
        width: 75%;
        height: 50%;
    }
}


body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}